<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Plugin.versiondb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Plugin.versiondb.Properties.Settings>
            <setting name="Plugin_versiondb_jsdm_Api" serializeAs="String">
                <value>http://localhost:49456/Web/Handlers/Api.asmx</value>
            </setting>
        </Plugin.versiondb.Properties.Settings>
    </applicationSettings>
</configuration>